@import "tailwindcss";

.hover-button:hover{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  transition: all ease-in-out 0.5s;
}

.container-list{
  display: grid;
  width: 100%;
  height: auto;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
}

.radius{
  border-radius: 30px;
}

.radius2{
  border-radius: 10px;
}

@keyframes fadeOutAfterDelay {
  0% {
    opacity: 1;
    visibility: visible;
  }
  50% {
    opacity: 1; /* Espera 2s (en animación total de 4s) */
  }
  100% {
    opacity: 0;
    visibility: hidden; /* Oculto pero ocupa espacio */
  }
}

.box-load {
  z-index: 50;
  background: white;
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  animation: fadeOutAfterDelay 5s forwards;
}

.ant-form-item-label{
  padding-bottom: 0px !important;
}

.ant-upload-select{
  width: 100% !important;
  margin-top: 10px;
}

.ant-upload-select button{
  width: 100% !important;
}